{% extends 'base.html' %}

{% block main %}
  <style>
    ul.errorlist {display:none;}
  </style>
  
  {% if messages %}
    <ul class="messages">
      {% for message in messages %} 
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  {% if question %}
    <p>Category: {{ question.category.title }}</p>
    <p>Answer: {{ question.question_text }}</p>
    <form id="quiz_form" action="/quiz/check/{{ game_id }}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit" />
    </form>
  {% else %}
    <p>No content available.</p>
  {% endif %}

<script type="text/javascript">
var start = $.now();
$('#quiz_form').submit(function(event) {
  $('#id_time_completed').val($.now()-start);
  })
</script>

{% endblock %}
