<div class="sidebar sidebar-article pure-u">
  <header class="header-article"></header>
  <div>

    <a href="/" title="See posts by Joshua Ashley">
      <img class="article-avatar" alt="Joshua Ashley" height="120" width="120" src="https://avatars2.githubusercontent.com/u/10272732?v=3&s=460">
    </a>

    <h2 class="article-info"></h2>
    <ul class="author-social">

      <li>
      <a href="http://facebook.com/joshua.ashley.1238">
        <i class="fa fa-lg fa-fw fa-facebook"></i>
        <strong>facebook</strong>
      </a>
      </li>

      <li>
      <a href="http://github.com/jashley82">
        <i class="fa fa-lg fa-fw fa-github"></i>
        <strong>github</strong>
      </a>
      </li>

      <li>
      <a href="http://twitter.com/jashley82000">
        <i class="fa fa-lg fa-fw fa-twitter"></i>
        <strong>twitter</strong>
      </a>
      </li>

      <li>
      <a href="http://linkedin.com/in/joshua-ashley-a22a4aab">
        <i class="fa fa-lg fa-fw fa-linkedin"></i>
        <strong>linkedin</strong>
      </a>
      </li>

    </ul>

    <small class="about-author">from the ashes</small>
  </div>
</div>
